QW_PSQL_NODE_HOSTNAME=localhost
QW_PSQL_NODE_TCP_PORT=5432
QW_PSQL_SCHEMA_VAULT=nexus_warehouse
QW_PSQL_AUTH_PRINCIPAL=nexus_user
QW_PSQL_AUTH_TOKEN=changeme123
QW_GATEWAY_MOUNT_POINT=/api/v1
QW_NEXUS_DESIGNATION=WarehouseNexus
QW_DIAGNOSTIC_VERBOSITY=True
